body {
    background-color: #bcd;
}
.header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}
.header h1 {
    margin: .2em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    font-variant: small-caps;
    font-stretch: condensed;
    color: #123;
}
.header h2 {
    margin: .2em;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-stretch: condensed;
    color: #234;
}
form {
    margin: 0 auto;
    width: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #def;
}
form .login-input {
    margin-bottom: 1em;
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: 2px;
    width: 95%;
    background-color: #f9fbff;
}
form .login-submit {
    border-radius: 2px;
    padding: .5em;
    border: 1px solid #CCC;
    background-color: #c8e9ff;
    width: 100%;
}