.type-list {
    padding: 15px;
}
#type-div {
    position: relative;
    width: 200px;
    float: left;
}
#right-div {
    position: relative;
    float: left;
}
#current-div {
    position: relative;
    width: 100%;
    height: 100px;
    float: left;
}
#current-type-div {
    position: absolute;
    top: 30px;
    left: 10px;
    height: 40px;
}
#current-date-div {
    position: absolute;
    top : 30px;
    left: 220px;
    height: 40px;
}

#time-list {
    float: left;
    width: 100%;
}

.type {
    position: relative;
    float: left;
}
.major {
    width: 100%;
}
.minor {
    left: 20px;
}

.time-list-hour-button {
    width: 50px;
    height: 30px;
}
.type-block {
    width: 80px;
    height: 30px;
}