body {
    background-color: #ddd;
}
input {
    border-radius: 2px;
    border: 1px solid #777;
}
button {
    border-radius: 2px;
    border: 1px solid #aaa;
}
.type-list {
    padding: 15px;
}
#type-add-div {
    margin: 10px;
    padding: 10px;
}
#left-div {
    position: relative;
    width: 270px;
    float: left;
}
#right-div {
    position: relative;
    width: 400px;
    float: left;
}
#stat-div {
    position: absolute;
    float: left;
    top: 900px;
    width: 100%;
}
.current-div {
    position: relative;
    width: 100%;
    height: 100px;
    float: left;
}
#current-type-div {
    position: absolute;
    top: 30px;
    left: 10px;
    height: 40px;
}
.current-date-div {
    position: absolute;
    top : 30px;
    left: 220px;
    height: 40px;
}

#time-list {
    float: left;
    width: 100%;
}

.type {
    position: relative;
    float: left;
}
.major {
    width: 100%;
}
.minor {
    left: 20px;
}

.time-list-hour-button {
    width: 50px;
    height: 30px;
}
.type-block {
    width: 80px;
    height: 30px;
}

.stat-bar {
    height: 20px;
    position: relative;
    top: -80px;
    z-index: -1;
}
.stat-bar-span {

}
.stat-bar-span-div {
    height: 20px;
    width: 100px;
    position: relative;
}
.stat-bar-col1 {
    left: 0px;
    top: -20px;
}
.stat-bar-col2 {
    left: 80px;
    top: -40px;
}
.stat-bar-col3 {
    left: 160px;
    top: -60px;
}
.stat-bar-div {
    margin: 20px;
}
.stat-bar-container {
    width: 100%;
    height: 20px;
}
.stat-30 {
    float: left;
}
.stat-30-container {
    width: 100%;
    float: left;
    font-family: Consolas;
}
.number-input {
    width: 48px;
}